body {
    font-family: 'Lora', serif;
    background: #fffff6;
    margin: 0;
    padding: 0;
}

/* Navigation Arrows (Back, Next, Previous) */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #00484b;
}

.back-arrow {
    font-size: 26px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.back-arrow:hover {
    color: #00d2dd;
}

.nav-info {
    flex: 1;
    text-align: center;
}

.post-number {
    color: white;
    font-size: 18px;
    margin: 0;
}

.nav-arrows {
    display: flex;
    align-items: center;
}

.nav-arrows a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-arrows a:hover {
    color: #00d2dd;
}

/* Main content of the post */
main {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

article {
    background-color: white;
    padding: 30px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

article h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #00484b;
}

article h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #666;
}

article p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Styles pour les liens dans le corps de l'article */
article a {
    font-weight: bold; /* Met le texte en gras */
    color: #00d2dd; /* Applique la couleur turquoise */
    text-decoration: none; /* Retire le soulignement par défaut */
    transition: color 0.3s ease; /* Ajoute une transition douce pour les changements de couleur */
}

/* Optionnel : Changer la couleur au survol */
article a:hover {
    color: #008c8e; /* Change la couleur au survol (facultatif) */
}



/* Styles pour les images dans l'article */
article img {
    width: 100%;
    max-width: 370px;
    margin: 20px;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Conteneur pour aligner les images côte à côte */
.image-container {
    display: flex;
    justify-content: center; /* Centrer les images */
    flex-wrap: wrap; /* Permet de passer à la ligne suivante si l'espace manque */
    gap: 20px; /* Espacement entre les images */
}

/* Changement d'alignement pour chaque image */
.image-container img, .image-container video {
    flex: 1; /* Les images prennent de l'espace également */
    max-width: 370px; /* Limite la taille maximale des images */
    display: block;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
    
    .image-container {
        flex-direction: column; /* Les images passent en colonne */
        align-items: center; /* Centrer les images dans la colonne */
        justify-content: center;
    }

    .tel {
        width: 66%;
        max-width: 200px;
        margin: 0 auto;
    }
}
